body{
	background-color: #FFF0F3;
}

.navbar{
	overflow: hidden;
	background-color: #FFF0F3;
	font-family: "Poppins";
	text-align: center;
	padding: 0px 0px 0px 0px;
}

.navbar a{
	text-decoration: none;
	color: 9F2042;
	text-align: center;
	padding: 0px 20px 0px 20px;
}

.navbar a:hover{
	transition-duration: 0.3s;
	transition-delay: 0.1s;
	color: white;
	background-color: #9F2042;
	border-radius: 10px;
}

.navbar a.active{
	color: white;
	background-color: 9F2042;
	border-radius: 10px;
}

.main-content{
	font-family: "Poppins";
	background-color: EAE4E9;
	border-radius: 10px;
	margin-top: 20px;
	margin-right: 15%;
	margin-left: 15%;
}

.main-content p{
	padding: 20px 20px 20px 20px;
	text-shadow: black;
}

.main-content a{
	text-decoration: none;
	color: #9F2042;
}

.footer {
	font-family: 'Mitr', cursive;
	position: fixed;
	overflow: hidden;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 80px;
    background-color: #590D22;
    color: white;
    text-align: center;
}

.footer img{
	color: white;
	width: 20px;
}

.footer table{
	font-size: 15px;
	text-align: center;
	background-color: blue;
}