body{
	background-color: #FFF0F3;
	justify-content: center;
}

.navbar{
	overflow: hidden;
	background-color: #FFF0F3;
	font-family: "Poppins";
	text-align: center;
	padding: 0px 0px 0px 0px;
}

.navbar a{
	text-decoration: none;
	color: #9F2042;
	text-align: center;
	padding: 0px 20px 0px 20px;
}

.navbar a:hover{
	transition-duration: 0.3s;
	transition-delay: 0.1s;
	color: white;
	background-color: #9F2042;
	border-radius: 10px;
}

.navbar a.active{
	color: white;
	background-color: #9F2042;
	border-radius: 10px;
}

.main-content{
	font-family: "Poppins";
	background-color: #EAE4E9;
	border-radius: 10px;
	margin-top: 20px;
	margin-right: 15%;
	margin-left: 15%;
	max-height: 80%;
}

.main-content h1{
	position: relative;
	display: block;
	height: 30px;
	padding-left: 20px;
	padding-top: 20px;
	font-size: 40px;
}

.main-content p{
	padding: 20px 20px 20px 20px;
	text-shadow: black;
	display: inline-block;
}

.main-content a{
	text-decoration: none;
	color: #9F2042;
}

.main-content dl{
	display: inline-block;
	margin-left: 20px;
	margin-top: 20px;
	border-left-style: solid;
	border-color: #9F2042;
	padding: 0px 20px 0px 20px;
}

.main-content dd{
	font-size: 13px;
}

.main-content img{
	display: inline-block;
	margin-right: 20px;
	padding-right: 20px;
	border-right: solid;
	border-color: #9F2042;
	height: 300px;
	position: relative;
	float: right;
	top: -30px;
}

.main-content span{
	color: #9F2042;
	display: inline-block;
}

.main-content table{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.main-content td{
	width: 400px;
	min-width: 75px;
}

.main-content label i{
	color: #9F2042;
	width: 20px;
	padding-right: 10px;
}

.skills{
	border-color: #9F2042;
	border-left-style: solid;
	width: 80%;
	padding: 20 20 20 20;
}

.skill-name{
	font size: 18px;
	color: #9F2042;
	text-transform: uppercase;
	margin: 20px 0;
}

.skill-bar{
	height: 15px;
	background: #EAE4E9;
	border-radius: 3px;
}

.skill-per{
	height: 15px;
	background-color: #9F2042;
	border-radius: 3px;
	position: relative;
	animation: fillBars 2s 1;
}

.skill-per::before{
	content: attr(per);
	position: absolute;
	padding: 4px 6px;
	background: white;
	border-radius: 4px;
	font-size: 12px;
	top: -35px;
	right: 0;
	transform: translateX(50%);
}

.skill-per::after{
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: white;
	top: -15px;
	right: 0;
	transform: translateX(50%) rotate(45deg);
	border-radius: 2px;
}

@keyframes fillBars{
	from{
		width: 0;
	}
	to{
		width: 100%;
	}
}

.contact-form{
	max-width: 600px;
	margin: auto;
	padding: 10px 10px;
	overflow: hidden;
}

.contact-form-text{
	font-size: 18px;
	display: inline;
	width: 100%;
	box-sizing: border-box;
	margin: 15px 0px;
	border: 3px;
	border-left-style: solid;
	background: #EAE4E9;
	padding: 20px 40px;
	outline: none;
	color: #9F2042;
	transition: 0.2s;
}

.contact-form-text:focus{
	box-shadow: 0 0 4px 2px #9F2042;
}

textarea.contact-form-text{
	font-size: 15px;
	resize: none;
	height: 200px;
}

.contact-form-btn{
	float: right;
	border: 0;
	background: #9F2042;
	color: #EAE4E9;
	padding: 10px 30px;
	border-radius: 30px;
	transition: 0.2s;
}

.contact-form-btn:hover{
	color: #9F2042;
	background-color: white;
}

.footer {
	font-family: 'Mitr', cursive;
	position: fixed;
	overflow: visible;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    background-color: #590D22;
    color: white;
    text-align: center;
}

.footer i{
	color: #52B69A;
	width: 30px;
}

.footer i:hover{
	color: white;
	transition-duration: 0.2s;
}

.footer table{
	font-size: 13px;
	text-align: center;
	color: #52B69A;
	margin-left: auto;
	margin-right: auto;
}